.div1{
    
    background-color: rgb(80, 75, 77);
    width: 50%;
    height: 100vh;
    float: right;

}
.div2{
    background-image: url(logo.jpg);
   
    background-size: contain;
    
    width: 50%;
    height: 100vh;
    float: left;

}
* {
    margin: 0;
    padding: 0;
}
input[type="submit"]{
    width: 30%;
    height: 45px;
    border: 3px solid;
    background: #211c1c;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    outline: none;
    
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;

}
input[type="complete"]{
    width: 30%;
    height: 43px;
    border: 3px solid;
    background: #211c1c;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    outline: none;
    align-content: center;
    
}
input[type="complete"]:hover{
    border-color: #2691d9;
    transition: .5s;

}
.div1{

display: flex;
justify-content: center;
align-items: center;
text-align: center;

}
.heading{
    color: #151414;
    height: 59px;
}
